body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px
}

.header .header-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap
}

.header-wrapper {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
  height: auto
}

.navbar-item {
list-style: none;
}

.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  
  flex:25%;
  max-width: 25%;
  margin: 20px;
  padding: 20px;
  text-align: center
}

.col img {
  width: 100%;
  vertical-align: middle
}

.footer {
  text-align: center;
}

.author {
  font-size: 20px;
  margin: 20px;
}

